*,*::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    padding: 1em;
    display: grid;
    place-items: center;
    gap: 2em;

}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.container {
    margin: 0em auto;
    width: 90%;
    max-width: 40em;
    height: 35em;
    display: grid;
    border: 1px solid black;
}

.square {
    border: 0.1em solid rgba(0, 0, 0, 0.815);
}

.hovered {
    transition: all .3s ease;
}